.container {
    width: 1300px;
    margin: auto;
}

.nav {
    background-color: rgba(153, 142, 142, 0.432);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.menu {
    justify-content: space-evenly;
}

.menu_list {
    display: inline-block;
    margin-top: 5px;
}

.list_link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.main {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.form {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    width: 1100px;
    margin: auto;
}

.form_container {
    margin-right: 30px;
    padding-left: 30px;
    font-size: 18px;
}

.footer {
    background-color: rgba(153, 142, 142, 0.432);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer_item {}

.footer_link {
    color: white;
    text-decoration: none;
}